{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Tasks</h1>
        {% if tasks %}
          <div class="center">
            <table class="table table-sm table-responsive w-auto">
              <thead>
                <tr>
                  <th > Id </th>
                  <th > Name </th>
                  <th > Service </th>
                  <th > Component </th>
                  <th ><i class="fa-wrench" style="color:black;"></i> Steps </th>
                  <th ><i class="fa-wrench" style="color:black;"></i> Expression </th>
                  <th class="textright"> Edit </th>
                  <th class="textright"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for task in tasks %}
                <tr>
                  <td> {{ task.id }} </td>
                  <td> {{ task.name }} </td>
                  <td> {{ task.service }} </td>
                  <td> {{ task.component }} </td>
                  <td>
                    <a href="#">
                      {% if task.steps %}
                        <i class="glyphicon glyphicon-unchecked" style="color:red;"></i> Steps ({{ task.steps.count() }})
                      {% else %}
                        <i class="fa fa-list-alt" style="color:green;"></i> Steps (0)
                      {% endif %}
                    </a>
                  </td>
                  <td>
                    <a href="#">
                      {% if task.conditions and task.conditions.count() > 0 %}
                        <i class="fa fa-check" style="color:green;"></i> Basic Expression ({{task.conditions.count()}})
                      {% else %}
                        <i class="fa fa-times" style="color:red;"></i> Basic Expression (0)
                      {% endif %}
                    </a>
                  </td>
                  <td class="textright">
                    <a href="{{ url_for('admin.edit_task', id=task.id) }}" class="btni btn-info btn-sm">
                      <span class="glyphicon glyphicon-edit"></span> Edit 
                    </a>
                  </td>
                  <td class="textright">
                    <a href="{{ url_for('admin.delete_task', id=task.id) }}" class="btn btn-danger btn-sm">
                      <span class="fa fa-trash-o"></span> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No tasks have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_task') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Task
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
